github "krzyzanowskim/CryptoSwift"
github "ashleymills/Reachability.swift"
github "icanzilb/TaskQueue"
#github "daltoniam/Starscream"
github "turbulem/Starscream" "ca783dbcae4b60fcaa62727b9c1eb52978e07648"
